{% extends "_base.html" %}

{% block content %}

<h2 style="margin:100px;">About Us</h2>
<div class="container" style="margin:100px;">
    
    <div class="row">
      <div class="col-sm">
        <p><b>Furkan Salık</b></p>
        <p><i>-Cool man</i></p>
        <img src="{{url_for('static',filename='furkan-salik.jpeg')}}">
      </div>
      <div class="col-sm">
        <p><b>Eyüpcan Çakır</b></p>
        <p><i>-Another cool man</i></p>
        <img src="{{url_for('static',filename='eyupcan-cakir.jpg')}}">
      </div>
      <div class="col-sm">
        <p><b>Berat Dalsuna</b></p>
        <p><i>-An ordinary man</i></p>
        <img src="{{url_for('static',filename='berat-dalsuna.jpg')}}" width="120" height="120">
      </div>
    </div>
</div>

{% endblock %}