{% extends "_base.html" %}

{% block content %}

<div style="padding:100px;">

    <form method="post" id="tables" action="/add/select">
        <p> <b>Please choose a table:</b></p>
        <input type="radio" name="table_name" value="Teams">Teams</input><br>
        <input type="radio" name="table_name" value="Master">Master</input><br> 

        <button type="submit" class="btn btn-primary btn-sm"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Select</button>
    </form>
    {% if table_name %}
        <p><b>Selected table is:</b> {{table_name}}</p>
    {% endif %}
    <div>
        {% if table_name == "Teams" or table_name == "Master" %}
        <form name="{{table_name}}" id="{{table_name}}" method="post" action="/add">
            <input type="hidden" id="table" name="table" value="{{table_name}}">
            {% for attr,type in columns.items() %}
                <label for="{{attr}}">{{attr}}:</label>
                {% if attr == 'divID' %}
                    <select id="{{attr}}" name="{{attr}}">
                        {% for div_id in div_codes %}
                            <option value="{{div_id}}">{{div_id}}</option>
                        {% endfor %}

                        <option value="" selected></option>
                    </select>

                {% elif attr == 'confID' %}
                    <select id="{{attr}}" name="{{attr}}">
                        {% for conf_id in conf_codes %}
                            <option value="{{conf_id}}">{{conf_id}}</option>
                        {% endfor %}

                        <option value="" selected></option>
                    </select>

                {% elif type == 'TEXT' %}
                    {% if reqs[attr] %}
                    <input type="text" id="{{attr}}" name="{{attr}}" required><br>
                    {% else %}
                    <input type="text" id="{{attr}}" name="{{attr}}"><br>
                    {% endif %}

                {% elif type == 'INTEGER' %}
                    {% if reqs[attr] %}
                    <input type="numeric" id="{{attr}}" name="{{attr}}" required><br>
                    {% else %}
                    <input type="numeric" id="{{attr}}" name="{{attr}}" ><br>
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-md"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Add to {{table_name}}</button>
        </form>
        {% endif %}
    </div>

</div>

{% endblock %}
