{% extends "_base.html" %}

{% block content%}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Hockey League!</h1>
            <p>Search across wide range of hockey league data.</p>
            <h3> Search for: </h3>
        </div>
        <div class="container" style="margin-top:50px;">
            <div class="row align-items-center justify-content-center">
                <div class="col align-self-center">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('teams.index') }}">Teams</a>
                </div>
                <div class="col align-self-center">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('players.index') }}">Players</a>
                </div>
                <div class="col align-self-center">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('coaches.index') }}">Coaches</a>
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock%}