{% extends "_base.html" %}

{% block content %}
<div class="s002" style="background:url('{{url_for('static',filename='team.webp.png')}}')">
  <form action="{{ url_for('query.search') }}" method="POST">
    <fieldset>
      <legend>SEARCH TEAM</legend>
    </fieldset>
    <div class="inner-form">
      <div class="input-field first-wrap">
        <div class="icon-wrap">
        </div>
        <input id="search" name="name" type="text" placeholder="Team Name">
        <input id="search_mode_input" name="search_mode" type="hidden" value="Teams">
        <div class="container pt-3 w-25">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
            <i class="bi bi-gear-fill"></i> Advanced Search
          </button>
        </div>
        <div class="container w-50">
          <div class="row">
            <div id="filter-panel" class="collapse filter-panel">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-group">
                    <input type="text" class="form-control mt-3" id="tmID" name="tmID" placeholder="Team ID">
                  </div>
                  <div class="form-group">
                    <select id='lg-dropdown' class="mt-3" name="lgID">
                      <option value="" disabled selected hidden>League ID</option>
                      <option value="NHA">NHA</option>
                      <option value="NHL">NHL</option>
                      <option value="PCHA">PCHA</option>
                      <option value="WCHL">WCHL</option>
                      <option value="WHA">WHA</option>
                    </select>
                    <select id='franch-dropdown' class="mt-3" name="franchID">
                      <option value="" disabled selected hidden>Franchise ID</option>
                      <option value="ANA">ANA</option>
                      <option value="BIR">BIR</option>
                      <option value="BKN">BKN</option>
                      <option value="BOS">BOS</option>
                      <option value="BUF">BUF</option>
                      <option value="CAC">CAC</option>
                      <option value="CAL">CAL</option>
                      <option value="CAR">CAR</option>
                      <option value="CAT">CAT</option>
                      <option value="CBS">CBS</option>
                      <option value="CHC">CHC</option>
                      <option value="CHI">CHI</option>
                      <option value="CIN">CIN</option>
                      <option value="CLE">CLE</option>
                      <option value="COL">COL</option>
                      <option value="CZE">CZE</option>
                      <option value="DAL">DAL</option>
                      <option value="DET">DET</option>
                      <option value="DOT">DOT</option>
                      <option value="EDE">EDE</option>
                      <option value="EDM">EDM</option>
                      <option value="FIN">FIN</option>
                      <option value="FLO">FLO</option>
                      <option value="HOU">HOU</option>
                      <option value="IND">IND</option>
                      <option value="LAK">LAK</option>
                      <option value="MF2">MF2</option>
                      <option value="MFS">MFS</option>
                      <option value="MIB">MIB</option>
                      <option value="MIN">MIN</option>
                      <option value="MOS">MOS</option>
                      <option value="MTL">MTL</option>
                      <option value="MTM">MTM</option>
                      <option value="MTW">MTW</option>
                      <option value="NAS">NAS</option>
                      <option value="NJD">NJD</option>
                      <option value="NYI">NYI</option>
                      <option value="NYR">NYR</option>
                      <option value="OTT">OTT</option>
                      <option value="PHI">PHI</option>
                      <option value="PHO">PHO</option>
                      <option value="PHQ">PHQ</option>
                      <option value="PHR">PHR</option>
                      <option value="PIT">PIT</option>
                      <option value="PO1">PO1</option>
                      <option value="POR">POR</option>
                      <option value="REN">REN</option>
                      <option value="SAS">SAS</option>
                      <option value="SDM">SDM</option>
                      <option value="SEA">SEA</option>
                      <option value="SJS">SJS</option>
                      <option value="SOV">SOV</option>
                      <option value="SPO">SPO</option>
                      <option value="STE">STE</option>
                      <option value="STL">STL</option>
                      <option value="TBL">TBL</option>
                      <option value="TBS">TBS</option>
                      <option value="TOB">TOB</option>
                      <option value="TOO">TOO</option>
                      <option value="TOR">TOR</option>
                      <option value="VAN">VAN</option>
                      <option value="VIC">VIC</option>
                      <option value="VMR">VMR</option>
                      <option value="WAS">WAS</option>
                      <option value="WPG">WPG</option>
                    </select>
                    <select id='conf-dropdown' class="mt-3" name="confID">
                      <option value="" disabled selected hidden>Conference ID</option>
                      <option value="CC">CC</option>
                      <option value="EC">EC</option>
                      <option value="WA">WA</option>
                      <option value="WC">WC</option>
                    </select>
                    <select id='div-dropdown' class="mt-3" name="divID">
                      <option value="" disabled selected hidden>Division ID</option>
                      <option value="AD">AD</option>
                      <option value="AM">AM</option>
                      <option value="AT">AT</option>
                      <option value="CA">CA</option>
                      <option value="CE">CE</option>
                      <option value="CW">CW</option>
                      <option value="ED">ED</option>
                      <option value="EW">EW</option>
                      <option value="NE">NE</option>
                      <option value="NO">NO</option>
                      <option value="NW">NW</option>
                      <option value="PC">PC</option>
                      <option value="PT">PT</option>
                      <option value="SE">SE</option>
                      <option value="SM">SM</option>
                      <option value="WD">WD</option>
                      <option value="WW">WW</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field fifth-wrap">
        <button class="btn-search" type="submit">SEARCH</button>
      </div>
  </form>

</div>
{% endblock %}

{% block scripts %}
<script>
  let dateDropdown = document.getElementById('date-dropdown');

  let currentYear = 1993;
  let earliestYear = 1841;
  while (currentYear >= earliestYear) {
    let dateOption = document.createElement('option');
    dateOption.text = currentYear;
    dateOption.value = currentYear;
    dateDropdown.add(dateOption);
    currentYear -= 1;
  }
</script>
{% endblock %}