{% extends "_base.html" %}
{% block content %}
<p hidden id="entryID">{{ tmID }}</p>
<div class="table-responsive">
    <table class="table table-sm table-borderless mb-0">
        <thead class="thead-dark">
            <tr>
				{% for display_header, real_header in general_headers %}
					<th>{{ display_header }}</th>
				{% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr tablename="Teams">
				{% for display_header, real_header in general_headers %}
					<td> <p>{{ general[0][display_header] }}</p>
						{% if current_user.is_authenticated %}
							{% if general[0][real_header] is defined %}
								{% set inputValue = general[0][real_header] %}
							{% else %}
								{% set inputValue = general[0][display_header] %}
							{% endif %}
							<input hidden value="{{ inputValue }}" name="{{ real_header }}" type="text">
							<a mode="normal" onclick="toggleEdit(this)" class="card-link"><i class="bi bi-pencil-square"></i></a>
						{% endif %}
					</td>
				{% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<hr/>
<div class="table-responsive">
    <form action="{{ url_for('delete.teams') }}" method="POST">
    <table class="table table-sm table-borderless mb-0">
        <thead class="thead-dark">
            <tr>
				<th>#</th>
				{% for display_header, real_header in regular_headers %}
					<th>{{ display_header }}</th>
				{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in regular %}
            <tr rowindex="{{ loop.index }}" tablename="Teams" wherekeys="year" wherevalues="{{ row['Season'] }}">
                <th scope="row">{{ loop.index }}</th>
				{% for display_header, real_header in regular_headers %}
					<td> <p>{{ row[display_header] }}</p>
						{% if current_user.is_authenticated %}
							{% if row[real_header] is defined %}
								{% set inputValue = row[real_header] %}
							{% else %}
								{% set inputValue = row[display_header] %}
							{% endif %}
							<input hidden value="{{ inputValue }}" name="{{ real_header }}" type="text">
							<a mode="normal" onclick="toggleEdit(this)" class="card-link"><i class="bi bi-pencil-square"></i></a>
						{% endif %}
					</td>
				{% endfor %}
                <td>
                    <input type="checkbox" name="years" value="{{ row['Season'] }}" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input id="search_mode_input" name="which_id" type="hidden" value="{{tmID}}">
    <input id="search_mode_input1" name="which_table" type="hidden" value="Teams">
    <button type="submit" class="btn btn-secondary" style="float: right;margin-right: 50px;margin-top: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        Delete
    </button>
</form>
</div>
<hr/>
<div class="table-responsive">
    <form action="{{ url_for('delete.teams') }}" method="POST">
    <table class="table table-sm table-borderless mb-0">
        <thead class="thead-dark">
            <tr>
				<th>#</th>
				{% for display_header, real_header in post_headers %}
					<th>{{ display_header }}</th>
				{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in post %}
            <tr rowindex="{{ loop.index }}" tablename="TeamsPost" wherekeys="year" wherevalues="{{ row['Season'] }}">
                <th scope="row">{{ loop.index }}</th>
				{% for display_header, real_header in post_headers %}
					<td> <p>{{ row[display_header] }}</p>
						{% if current_user.is_authenticated %}
							{% if row[real_header] is defined %}
								{% set inputValue = row[real_header] %}
							{% else %}
								{% set inputValue = row[display_header] %}
							{% endif %}
							<input hidden value="{{ inputValue }}" name="{{ real_header }}" type="text">
							<a mode="normal" onclick="toggleEdit(this)" class="card-link"><i class="bi bi-pencil-square"></i></a>
						{% endif %}
					</td>
				{% endfor %}
                <td>
                    <input type="checkbox" name="years" value="{{ row['Season'] }}" />
                </td>
            </tr>
            {% endfor %}
		</tbody>
    </table>
    <input id="search_mode_input" name="which_id" type="hidden" value="{{tmID}}">
    <input id="search_mode_input1" name="which_table" type="hidden" value="TeamsPost">
    <button type="submit" class="btn btn-secondary" style="float: right;margin-right: 50px;margin-top: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        Delete
    </button>
</form>
</div>

{% if current_user.is_authenticated %}
<div class="d-flex justify-content-center">
	<button type="button" onclick="save()" class="btn btn-warning">
		<i class="bi bi-check-square-fill"></i> Save
	</button>
</div>
{% endif %}
<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form class="d-flex" style="margin-bottom: 150px!important;"> 
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"> 
            <button class="btn btn-dark" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
              </svg></button> 
        </form>
    </div>
  </section>
{% endblock %}

{% block scripts %}
	{% if current_user.is_authenticated %}
		<script type="text/javascript" src="{{url_for('static',filename='js/individual_pages.js')}}"></script>
	{% endif %}
{% endblock %}